.DayCard-Container {
  min-width: 60px;
  min-height: 80px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: gray;
}

.DayCard-Name {
  text-align: center;
}

.DayCard-Degree {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.DayCard-DegreeHigh {
  color: black;
}
