.HourCard-Container {
  min-width: 60px;
  min-height: 80px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: gray;
}

.HourCard-Hour {
  text-align: center;
}

.HourCard-Degree {
  text-align: center;
}
